.sidemenu-nav {
  color: gray;
  position: fixed;
  left: 0;
  top: 20%;
  width: 270px;
  z-index: 1;

  /*background-color: #EFEFEF;*/
  background-color: white;
  border: 1px solid rgb(255,171,64);
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

  button.mdl-button {
    color: white;
  }
}

h5 {
  color: rgb(255,171,64);
  padding-left: 15px;
}

p {
  padding: 15px;
}

.sidemenu-nav_list {
  list-style-type: none;
  padding: 0;
}

.sidemenu-nav_list li {
  margin-bottom: 20px;
  text-align: center;
}

.sidemenu-nav__collapse {
  float: right;
  padding: 10px;
  padding-top: 23px;
  cursor: pointer;
}

.sidemenu-nav.collapsed {
  left: -225px;
}
.sidemenu-nav.collapsed .sidemenu-nav__collapse {
  -ms-transform: rotate(-180deg); /* IE 9 */
  -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
  transform: rotate(-180deg);
  padding-top: 17px;
}