<nav *ngIf="!mapService.editing" class="sidemenu-nav" [ngClass]="{collapsed: isCollapsed}" >
  <a id="sidemenu-toggle" class="sidemenu-nav__collapse" (click)="toggleSidemenu()">
    <i mdl class="material-icons md-icon dp48">keyboard_arrow_left</i>

  </a>
  <div mdl *ngIf="isCollapsed" class="mdl-tooltip mdl-tooltip--right mdl-tooltip--large" for="sidemenu-toggle">
    Add Event
  </div>
  <h5 *ngIf="!isCollapsed">Welcome to City Fuzz!</h5>
  <p *ngIf="!isCollapsed">
    Here you can find all types of fun events happening in your City right now.<br>
    Start searching or add an event if you happen to be on one!
  </p>
  <ul *ngIf="!isCollapsed" class="sidemenu-nav_list">
    <li>
      <button mdl id="addEventBtn" (click)="createEvent()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Add Event</button>
    </li>
  </ul>
</nav>
