.sebm-google-map-container {
  width: 100%;
  height: calc(100% - 64px);
}

.map-loading {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: black;
  position: fixed;
  z-index: 1;
}

.loading-spinner {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
