<div *ngIf="loadingLocation" class="map-loading"></div>
<div mdl *ngIf="loadingLocation" class="loading-spinner mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>

<sebm-google-map (mapClick)="onMapClicked($event.coords)" [latitude]="lat" [longitude]="lng" disableDefaultUI="true">
  <sebm-google-map-marker
    *ngIf="createMode"
    [latitude]="fakeEvent.lat"
    [longitude]="fakeEvent.lng">
  </sebm-google-map-marker>

  <sebm-google-map-marker
    *ngFor="let e of events | async"
    [latitude]="e.lat"
    [longitude]="e.lng">

    <sebm-google-map-info-window>
      <cf-event [event]="e"></cf-event>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>
</sebm-google-map>
