nav {
  text-align: center;
  padding: 30px 0;
}

header {
  color: white;

  span {
    width: 100%;
    text-align: center;
  }
}

cf-map {
  width: 100%;
  height: 100%;
}

.mdl-layout__header {
  display: block;
}

.mdl-layout__header-row {
  padding: 0;
}

.mdl-layout-title {
  font-family: 'Ranga', cursive;
  font-size: 40px;
}
