<div class="event-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{event.title}}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {{event.description}}
  </div>
  <ul class="event-tags">
    <li *ngFor="let cat of event.categories">{{cat}}</li>
  </ul>
</div>
