<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cityfuzz</title>
  <base href="/">
  {{content-for 'head'}}
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    html,
    body {
      padding: 0;
      margin: 0;
      height: 100%;
    }

    .cityfuzz-app .loading-spinner,
    .cityfuzz-app .loading-title {
      position: fixed;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

    }

    .cityfuzz-app .loading-spinner:not(.is-upgraded).is-active:after{
      content: '';
    }

    .loading-title {
      height: 90px;
      line-height: 90px;
      font-size: 30px;
      font-family: 'Ranga', cursive;
      position: fixed;
      margin: auto;
      text-align: center;
      padding-bottom: 70px;
    }


  </style>

  <!-- Service worker support is disabled by default.
       Install the worker script and uncomment to enable.
       Only enable service workers in production.
  <script type="text/javascript">
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/worker.js').catch(function(err) {
        console.log('Error installing service worker: ', err);
      });
    }
  </script>
  -->
</head>
<body>

  <cityfuzz-app class="cityfuzz-app">
    <div class="loading-title">City Fuzz</div>
    <div class="loading-spinner mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
  </cityfuzz-app>

  <script src="vendor/es6-shim/es6-shim.js"></script>
  <script src="vendor/reflect-metadata/Reflect.js"></script>
  <script src="vendor/systemjs/dist/system.src.js"></script>
  <script src="vendor/zone.js/dist/zone.js"></script>
  <script src="vendor/material-design-lite/dist/material.js"></script>

  <link rel="stylesheet" href="vendor/material-design-lite/dist/material.cyan-orange.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href='https://fonts.googleapis.com/css?family=Ranga' rel='stylesheet' type='text/css'>

  <script>
    System.import('system-config.js').then(function () {
      System.import('main');
    }).catch(console.error.bind(console));
  </script>
</body>
</html>
