.event-create-wizard{
  &.mdl-card {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 671px;
    width: 50%;
  }
  .mdl-card__title {
    color: #fff;
    height: 100px;
    background: url('images/fuzz-event.jpg') center / cover;
  }
  .mdl-card__menu {
    color: #fff;
  }
  .mdl-card__supporting-text {
    margin: 0 auto;
  }
}
.event-create-wizard-steps {
  padding-bottom: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  text-align: center;
}

.event-create-wizard-next-btn, .event-create-wizard-submit-btn {
  float: right;
}

.mdl-textfield:not(.is-dirty) {

  .ng-pristine {
    border-color: inherit;
  }

  &.is-focused {
    .mdl-textfield__label:after {
      background-color: rgb(0,188,212);
    }
  }
  .mdl-textfield__label {
    color: inherit;
  }
}

button.mdl-button.mdl-button--colored.mdl-button--raised {
  color: white;
}

#description {
  width: 600px;
}
