<cf-map [createMode]="create" (mapClicked)="onLocationSelected($event);"></cf-map>

<div mdl class="event-create-wizard mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title" [ngSwitch]="wizardStep">
    <h2 class="mdl-card__title-text" *ngSwitchWhen="'create'">Where's the fuzz?</h2>
    <h2 class="mdl-card__title-text" *ngSwitchWhen="'title-description'">Give me more info!</h2>
    <h2 class="mdl-card__title-text" *ngSwitchWhen="'tags'">Pick any category that applies</h2>
    <h2 class="mdl-card__title-text" *ngSwitchWhen="'success'">Success!</h2>
  </div>

  <form #f="ngForm" [ngSwitch]="wizardStep" (ngSubmit)="onSubmit(f.value)">
    <div class="mdl-card__supporting-text" *ngSwitchWhen="'create'">
      Click anywhere in the map to add some fuzz!
    </div>

    <div class="mdl-card__supporting-text" *ngSwitchWhen="'title-description'">
      <div mdl class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input type="text"
                id="title"
                ngControl="title"
                class="mdl-textfield__input"
                [(ngModel)]="event.title"
                required >
        <label for="title" class="mdl-textfield__label">Title</label>
      </div>
      <div mdl class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input type="text"
                id="eta"
                ngControl="eta"
                class="mdl-textfield__input"
                [(ngModel)]="event.eta"
                required >
        <label for="eta" class="mdl-textfield__label">ETA</label>
      </div>
      <div mdl class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label for="description" class="mdl-textfield__label">Description</label>
        <textarea
          class="mdl-textfield__input"
          type="text"
          rows= "3"
          id="description"
          ngControl="description"
          [(ngModel)]="event.description"
          required></textarea>
      </div>
    </div>

    <div class="mdl-card__supporting-text" *ngSwitchWhen="'tags'">
      <ul mdl class="mdl-list">
        <li *ngFor="let c of categories">
          <span class="mdl-list__item-primary-content">
            <label mdl class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" >
              <input type="checkbox" id="{{ c.id }}" class="mdl-checkbox__input" (change)="toggleCategory(c.title)"/>
              <span class="mdl-checkbox__label">{{ c.title }}</span>
            </label>
          </span>
        </li>
      </ul>
    </div>

    <div class="mdl-card__supporting-text" *ngSwitchWhen="'success'">
      You can now go back and see all events.
    </div>


    <div class="mdl-card__menu">
      <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="onFinish()">
        <i class="material-icons">close</i>
      </a>
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <a *ngIf="showCancelBtn" (click)="onBackBtn()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        {{ cancelBtnText }}
      </a>
      <button *ngIf="showNextBtn" (click)="onNextBtn()" [disabled]="!f.form.valid" class="event-create-wizard-next-btn mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        {{ nextBtnText }}
      </button>

      <button *ngIf="showSuccessBtn" (click)="onFinish()" class="event-create-wizard-next-btn mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Back to Events
      </button>

      <button *ngIf="showSubmitBtn" mdl class="event-create-wizard-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Share the fun!</button>

      <div class="event-create-wizard-steps">
        <label mdl class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-create">
          <input type="radio" id="option-create" class="mdl-radio__button" name="options" value="1" checked disabled>

        </label>
        <label mdl class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-info">
          <input type="radio" id="option-info" class="mdl-radio__button" name="options" value="1" disabled>

        </label>
        <label mdl class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-tags">
          <input type="radio" id="option-tags" class="mdl-radio__button" name="options" value="1"  disabled>
        </label>
      </div>
    </div>
  </form>
</div>
